body {
  background-color: #22254b;
}

/* 
  display: flex만 주면 모든 콘텐츠가 가로로 배치된다.
  크기에 맞게 가로 배치를 시켜주고 싶다면
  flex-wrap 속성의 디폴트 값인 nowrap을 wrap으로 변경해줘야 한다.
*/
.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  width: 250px;
  border: 1px solid red;
}

.movie-container img {
  max-width: 100%;
}